/* Styling for the body */
body {
  background-color: #2e2e2e; /* Anthrazit */
  color: #00ff00; /* Terminalgrün */
  font-family: "Courier New", Courier, "Lucida Console", monospace; /* Typische Terminalschrift */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Disable all pointer events */
}

/* Styling for the terminal */
#terminal {
  background-color: #2e2e2e; /* Anthrazit */
  color: #00ff00; /* Terminalgrün */
  width: 80%;
  height: 70%;
  padding: 20px;
  border: 1px solid #00ff00;
  overflow-y: auto;
  white-space: pre-wrap;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Hide scrollbar */
#terminal::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Styling for ASCII art container */
#ascii-art-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Styling for ASCII art */
#ascii-art {
  position: absolute;
  color: red;
  opacity: 0.5;
  font-family: "Courier New", Courier, "Lucida Console", monospace;
  white-space: pre;
  pointer-events: none;
  z-index: 0;
}

/* Styling for output */
#output {
  z-index: 1;
  overflow-y: auto;
  flex-grow: 1;
  pointer-events: auto; /* Re-enable pointer events for specific elements */
}

#output::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Styling for input container */
#input-container {
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
  color: #208d20; /* Slightly different shade of green */
  pointer-events: auto; /* Re-enable pointer events for specific elements */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  border-radius: 0; /* Remove border radius */
  box-shadow: 0 0 1px #00cc00; /* Even more subtle shadow to indicate input field */
}

/* Styling for prompt */
#prompt {
  margin-right: 5px;
}

/* Styling for input line */
#input-line {
  background: none;
  border: none;
  color: #00cc00; /* Slightly different shade of green */
  font-family: "Courier New", Courier, "Lucida Console", monospace;
  font-size: 1em;
  width: 100%;
  outline: none;
  pointer-events: auto; /* Re-enable pointer events for specific elements */
}

/* Styling for user input in displayed output */
.output.user-input {
  color: #208d20; /* Slightly different shade of green */
}

/* Styling for output lines */
.output {
  margin: 0 0 10px 0;
}

/* Styling for cursor */
.cursor {
  display: inline-block;
  background-color: #00ff00;
  margin-left: 2px;
  animation: blink 1s steps(2, start) infinite;
}

/* Blink animation for cursor */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Color classes */
.color1 {
  color: #ff4500;
}
.color2 {
  color: #1e90ff;
}
.color3 {
  color: #32cd32;
}
.color4 {
  color: #9400d3;
}

/* Adjustments for mobile devices */
@media (max-width: 600px) {
  #terminal {
    width: 100%;
    height: 90%;
    padding: 10px;
  }
  #input-line {
    font-size: 1.2em;
  }
  #ascii-art {
    font-size: 0.8em;
  }
}

/* Glitch effect */
.portfolio-experiment {
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  animation: cray 6s infinite steps(50);
  display: inline-block;
  line-height: 1; /* Ensure line height remains constant */
}

@keyframes cray {
  0%, 14%, 28%, 42%, 56%, 70%, 84% {
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #00ff00;
  }
  2%, 16%, 30%, 44%, 58%, 72%, 86% {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    text-transform: none;
    color: #ff4500;
  }
  4%, 18%, 32%, 46%, 60%, 74%, 88% {
    font-weight: 300;
    font-style: normal;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #1e90ff;
  }
  6%, 20%, 34%, 48%, 62%, 76%, 90% {
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    text-transform: lowercase;
    color: #32cd32;
  }
  8%, 22%, 36%, 50%, 64%, 78%, 92% {
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: capitalize;
    color: #9400d3;
  }
  10%, 24%, 38%, 52%, 66%, 80%, 94% {
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #ff4500;
  }
  12%, 26%, 40%, 54%, 68%, 82%, 96% {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    color: #1e90ff;
  }
}

/* Styling for the unlock popup */
#unlock-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2e2e2e;
  color: #00ff00;
  padding: 20px;
  border: 1px solid #00ff00;
  z-index: 1000;
  pointer-events: auto; /* Enable pointer events */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#unlock-code {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: "Courier New", Courier, "Lucida Console", monospace;
  color: #00ff00;
  background-color: #2e2e2e;
  border: 1px solid #00ff00;
}

#unlock-submit, #unlock-cancel {
  padding: 5px 10px;
  font-family: "Courier New", Courier, "Lucida Console", monospace;
  color: #00ff00;
  background-color: #2e2e2e;
  border: 1px solid #00ff00;
  cursor: pointer;
}
